.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #5514b4;
  font-size: clamp(40px, 8vw, 100px);
  line-height: 1;
  font-weight: 400;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero p a:any-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #5514b4;
  border: 2px solid #5514b4;
  border-radius: 0;
  padding: 0.5em 1.2em;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.hero p a:hover,
.hero p a:focus-visible {
  background-color: #3d0e87;
  border-color: #3d0e87;
  color: #fff;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}